body{
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Inter Tight" !important;
  font-optical-sizing: auto;
  font-weight: 500;
  /* background-color: #222222 !important; */
}

.container-fluid{
  flex: 1;
}

.navbar{
  height: 5rem;
  background-color:#222222;
  padding: 2rem 0 2rem 0 !important;
}


.fa-compass{
  color: #fe424d;
  font-size: 2rem;
}

.nav-link{
  color: #222222 !important;
}

.nav-options{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width:762px) {
  .navbar-collapse{
    color: white !important;
    background-color: #faebd7dd !important;
    padding:1rem;
    margin-top:6px;
    border-radius: 8px;
  }
  .navbar-toggler{
    background-color: #fe424d !important;
  }
  .nav-options{
    margin-top: 1rem !important;
  }
}

.fa-user{
  font-size: 25px;
  color: #fe424d;
}

.f-info-links a{
  text-decoration: none;
  color: #222222 !important;
}

.f-info-links a:hover{
  text-decoration: underline;
}

.f-info-links{
  width: 100%;
}

.f-info-socials, .f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i{
  margin-right: 1rem;
  font-size: 1.2rem;
  
}

.f-info{
  height: 8rem;
  background-color:#ebebeb;
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
  text-align: center;
}

.listing-card{
  border: none !important;
  border-radius: 0.7rem !important;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.listing-card:hover{
  transform: scale(1.1);
}



.card-img-top{
  border-radius: 0.7rem 0.7rem 0.7rem 0.7rem !important;
  width: 100%;
  object-fit: cover;
}

.show-card-body{
  padding: 0%;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.show-card{
  border: none !important;
}

.card-body p{
  margin: 0%;
}

.card-body-price{
  color: #fe424d;
}

.image-anchor{
  text-decoration: none !important;
}

.card-text{
  font-weight: 400 !important;
  font-size: 1.2rem;
}

.new-btn{
  background-color: #fe424d !important;
  border: none !important;
}

/* update route */
.update-btn{
  background-color: #fe424d !important;
  border: none !important;
}

/* show route */

.show-image{
  height:20vh !important;
}

.btns{
  display: flex;
  /* align-items: flex-start; */
  gap: 1rem;
  padding-right: 0% !important;
  width: 30rem !important;

}

.show-card{
  padding-left: 0%;
  padding-right: 0%;
}








